{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>

    <div id="actionlisting">
        {% for category in categories %}
            <a href="{% url 'category_listing' category.id %}" class="decor">
                <div class="card text-bg-warning mb-3 text-center category">
                    <div class="card-header"></div>
                    <div class="card-body" style="display: flex; align-items: center; justify-content: center;">
                        <p class="card-text ">{{ category.category_type }}</p>
                    </div>
                </div>
            </a>

        {% endfor %}
    </div>
{% endblock %}